body{
    background-color: grey;
    background-repeat: no-repeat;
    background-size: cover;
}

nav{
    background-color: black;
    color: white;
    list-style-type: none;
    padding: 0;
    /* width: 35px; */
    margin: 0;
    display:inline;
    color: white;
}
.img1{
    /* padding-left: 50%; */
}